################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PtcApi/bin/Debug/netcoreapp2.1
/PtcApi/obj
